#root {
    font-family: 'Pretendard-Regular';
    /* display: flex; */
    /* margin: 0 auto;
  justify-content: center; */
}

* {
    -ms-overflow-style: none;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}