@font-face {
    font-family: "InterExtraBold";
    font-style: normal;
    font-weight: 100;
    src: url("./Inter-ExtraBold.woff") format("woff");
  }

  @font-face {
    font-family: "InterBold";
    font-style: normal;
    font-weight: 100;
    src: url("./Inter-Bold.woff") format("woff");
  }

  @font-face {
    font-family: "InterMedium";
    font-style: normal;
    font-weight: 100;
    src: url("./Inter-Medium.woff") format("woff");
  }

  @font-face {
    font-family: "Pretendard-Regular";
    font-style: normal;
    font-weight: 100;
    src: url("./Pretendard-Regular.woff") format("woff");
  }
  
  @font-face {
    font-family: "Pretendard-Bold";
    font-style: normal;
    font-weight: 100;
    src: url("./Pretendard-Bold.woff") format("woff");
  }
  